.modal {
  border: none;

  &Body {
    padding: 36px;
    border: none;
  }

  &Btn {
    position: relative;
    width: 36px !important;
    height: 36px;
    float: right;
  }

  &Content{
    padding: 48px;
    border: none;
    text-align: center;
    background-color: red;
  }

  &ContentLeft {
    width: 300px !important;
    height: 455px !important;
  }

  &Img {
    object-fit: cover;
    width: 300px !important;
    height: 455px !important;
    margin-bottom: 16px;
  }
  &Badge {
    margin: 0 10px 10px 0;
    background-color: aquamarine;
    border-radius: 12px;
    width: 100px !important;
    padding: 0 10px;
  }

  @media (max-width: 764px) {
    &Badge {
      display: inline;
      margin: 0 10px 10px 0;
      background-color: aquamarine;
      border-radius: 12px;
      width: 100px !important;
      padding: 0 10px;
    }
  }
}